.tech-mex-logo__collibri,
.tech-mex-logo__wm {
  margin-bottom: 2.5rem;
}

.uk-divider-icon {
  &.icon-tx {
    background-image: url(../images/tech-mex/icon-tx.svg);
    background-size: 30px;
    height: 30px;
    margin: 0 auto;
  }
  
}
